/*
<!-- border border-width border-color border-style -->
<!-- list list-style list-style-type list-style-image -->
<!-- background background-color background-image background-repeat background-position -->
*/
*{
	margin:0;
	padding:0;
}
body{
	background-color: #BDBDBD;
}

div.wrap{
	width:100%;
	height:900px;
}
.wrap h1{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	text-transform:uppercase;
	background-color: #757575;
	color:#F5F5F5;
}
div.showArea{
	width:800px;
	height:500px;
	background-color:#fff;
	position:relative;
	margin:0 auto;
	margin-top:10px;
}
div.showArea .container{
	width:600px;
	height:400px;
	background-color: #9E9E9E;
	position:absolute;
	top:50%;
	margin-top:-200px;
	left:50%;
	margin-left:-300px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	transition: all 0.5s linear;
	border-radius:10px;
	border:2px solid #757575;
}
div.showArea h4{
	font-family:'仿宋';
	font-size:16px;
	width:600px;
	height:20px;
	margin:0 auto;
	position:absolute;
	bottom:15px;
	left:50%;
	margin-left:-300px;
	background-color:#757575;
	color:#fff;
	text-align:center;
	border-radius:10px;
	transition: all 0.5s linear;
}

div.imagesArea{
	width:800px;
	height:150px;
	margin:0 auto;
	border:2px solid #fff;
	box-sizing: border-box;
	margin-top:20px;
	padding-top:10px;
}

div.imagesArea img{
	width:130px;
	height:100px;
	float:left;
	margin-left:2px;
	margin-top:15px;
}

div.styleArea{
	width:800px;
	height:auto;
	margin:0 auto;
	background-color: #9E9E9E;
	position: relative;
}
div.styleArea>div{
	margin:5px;
}

div.styleArea button{
	position:absolute;
	right:20px;
	bottom:10px;
	width:160px;
	height:30px;
	line-height:30px;
	font-size:12px;
	text-align:center;
	border-radius:6px;
	cursor:pointer;
}