*{
	margin:0;
	padding:0;
}
li{
   list-style:none;
}
a{
	text-decoration:none;
	color:#fff;
}
body{
	background-color: #99CCCC;
}
div.container{
	width:1000px;
	height:800px;
	margin:0 auto;
	background-color:#FFCCCC;
}
ul.firstList{
	width:100%;
	height:30px;
	margin-top:10px;
	padding-top:15px;
}
ul.firstList>li{
	float:left;
	width:auto;
	padding:0 15px;
	height:100%;
	text-align:center;
	border:2px solid #fff;
	border-radius:10px;
	margin-left: 5px;
	position:relative;
}
ul.firstList>li>a{
	font-weight:bold;
	font-size:15px;
	line-height:30px;
} 
ul.firstList>li:hover{
	background-color: #fff;
}
ul.firstList>li:hover a{
	color:#FFCCCC;
}
ul.secondList {
	border-bottom-left-radius:10%;
	border-bottom-right-radius:10%;
	width:90px;
	height:auto;
	margin:0 auto;
	background-color:#ccc;
	text-align:left;
	padding:5px;
	/*display:none;*/
	visibility: hidden;
	position:absolute;
	top:30px;
	left:5px;
	z-index:10;
	opacity:0;
}
ul.firstList>li:hover ul.secondList,
ul.secondList:hover{
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease-in;
	/*transition 不支持display:block*/
}
ul.secondList select{
	width:100%;
	outline:none;
	border:none;
}
ul.secondList select option,
ul.secondList li a{
	font-size:15px;
	margin:2px 2px;
	color:#fff !important;
}
div.wrap{
	width:96%;
	height:720px;
	background-color:#fff;
	margin:0 auto;
	margin-top:30px;
	font-family:'Arial';
	position:relative;
}
div.wrap .content{
	width:31%;
	height:auto;
	float:left;
	padding:5px;
	box-shadow:0px 2px 3px #333333;
	border-radius:20px;
	margin-left:5px;
	margin-top:20px;
	background-color:#fff;
}

div.wrap .content h2{
	width:100%;
	height:30px;
	font-size:18px;
	text-align:center;
	line-height:30px;
}
div.wrap .content div{
	font-size:13px;
	text-indent:2em;
	text-align:justify;
	margin:5px;
}
div.wrap div.picBox{
	width:150px;
	height:150px;
	margin:10px auto;
	background-size:cover;
}

div.picBox1{
	background:url(https://img3.doubanio.com/view/photo/l/public/p2360637225.webp) center center no-repeat;
}
div.picBox2{
	background:url(https://img3.doubanio.com/view/photo/l/public/p2181517036.webp) center center no-repeat;
}
div.picBox3{
	background:url(https://img3.doubanio.com/view/photo/l/public/p2479040894.webp) center center no-repeat;
}

div.restore{
	position:absolute;
	bottom:25%;
	left:20px;
	width:60px;
	height:25px;
	background-color:pink;
	color:#fff;
	border-radius:5px;
	line-height:25px;
	text-align: center;
	cursor:pointer;
}
div.restore:hover{
	box-shadow: 2px 3px 3px #ccc;
}