*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#212121;
}
li{
	list-style:none;
}
.clearfix{
	content:".";
	display:block;
	height:0;
	width:0;
	clear:both;
	visibility:hidden;
}
body{
	background-color:#FFEB3B;
	color:#fff;
	background-image:url(http://img1.juimg.com/140908/330606-140ZP2041623.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
}
.wrap{
	margin:0 auto;
	width:90%;
}
header{
	width:100%;
	height:80px;
}

header .wrap{
	width:800px;
	margin:15px auto 0;
}
header h1{
	width:35%;
	height:40px;
	font-size:25px;
	line-height:40px;
	margin:0 auto;
}
header p{
	width:auto;
	float:left;
}
header address{
	display:inline-block;
	width:auto;
	font-style:normal;
	margin:0 10px;
}
nav{
	width:800px;
	height:20px;
	border-bottom:0;
	/*overflow: hidden;*/
	margin:0 auto;
	border:1px solid #FF9800;
	border-radius:5px ;
	position: relative;
}
nav ul{
	width:800px;
	margin:0 auto;
}
nav ul li{
	width:20%;
	text-align:center;
	background-color:#FF9800;
	float:left;
}
nav ul li a{
	font-size:16px;
	font-weight: bold;
	color:#FFF9C4;
	display:block;
	width:100%;
	line-height:20px;

}
nav a:hover{
	background-color:#FFF9C4;
	color:#FF9800;
}
section.wrap{
	width:800px;
	margin:0 auto;
	border-radius:5px solid #f40;
	position:relative;
}
section{
    width:100%;
	height:auto;
	border:1px solid black;
}
section h2{
	width:15%;
	font-size:18px;
	color:#fff;
	margin:5px;
}
section dl{
	width:90%;
	margin:0 auto;
}
section dl dt{
	color:#212121;
	font-weight:400;
}
section.bg,
section.exper,
section.skills,
section.selfEval,
section.works{
	border-left:0;
	border-top:0;
}

/*教育背景 bg*/
section.bg dl dt,
section.bg dl dd{
	width:auto;
	height:20px;
	display:inline-block;
	margin:0 2px;
	color:#212121;
}

/*项目经验 exper*/
section.exper dd{
	text-indent: 2em;
	color:#212121;
	margin:2px 0;
}

/*个人技能 skills*/
section.skills dt{
	font-weight:bold;
}
section.skills dd{
	color:#212121;
	margin:2px 0;
	text-indent:2em;
}

/*自我评价 selfEval*/
section.selfEval .wrap{
	color:#212121;
	margin:0 auto;
	text-indent:2em;
	text-align:left;
	width:90%;
}

/*个人作品 works*/
section.works{
	border-bottom:0px;
}
section.works .wrap{
	color:#212121;
}

section.works .wrap span{
	font-weight:bold;
}
section.works .wrap a{
	margin-left:5px;
}

footer{
	width:800px;
	text-align:center;
	margin:5px auto;
}

/*sidebar*/
div.sideBar{
	width:60px;
	height:350px;
	background-color:#FBC02D;
	position:absolute;
	top:0;
	left:-70px;
	border-radius:8px;
}
div.sideBar ul{
	width:100%;
	height:100%;
	overflow:hidden;
	border-radius:8px;
}
div.sideBar li{
	float:none;
}
div.sideBar a{
    display:block;
    height:70px;
    width:60px;
    line-height:70px;
    font-size:13px;
    text-align:center;
}
div.sideBar a:hover{
	background-color:#FFF9C4;
}
div.sideBar .closeBtn{
	width:10px;
	height:20px;
	position:absolute;
	top:0;
	left:-10px;
	cursor:pointer;
	background-color:red;
	opacity:0.4;
}